.DS_Store
ToDo/android/
ToDo/node_modules/
TaskManagerWithTypescript/android/
TaskManagerWithTypescript/node_modules/
onlineShoppingCart/android/
onlineShoppingCart/node_modules/
userprofileadlogin/android/
userprofileadlogin/node_modules
userprofileadlogin/yarn.lock
NewsReadeAppwithThemes/android
NewsReadeAppwithThemes/node_modules